primary = #5479a2
primary-light = #b2c5d9
divider = #d6e0e8
primary100 = #eff3f6
divider-dark = #21262c
text-primary = #313942
text-secondary = #637484
accent1 = #9e9e9e
accent2 = #e1e1e1
text-and-icons = #fff
negative = #b8283a
positive = #90b864
error = #d0011b
