* {
    box-sizing: border-box;
    font-family: 'open-sans-regular', sans-serif;
}

html {
    overflow-y: hidden;
}

@font-face {
    font-family: 'open-sans-regular';
    font-weight: normal;
    font-style: normal;
    src: url('assets/fonts/opensans-regular-webfont.eot');
    src: url('assets/fonts/opensans-regular-webfont.eot?#iefix') format('embedded-opentype'),
        url('assets/fonts/opensans-regular-webfont.woff2') format('woff2'),
        url('assets/fonts/opensans-regular-webfont.woff') format('woff'),
        url('assets/fonts/opensans-regular-webfont.ttf') format('truetype'),
        url('assets/fonts/opensans-regular-webfont.svg#open_sansregular') format('svg');
}

@font-face {
    font-family: 'open-sans-semibold';
    font-weight: normal;
    font-style: normal;
    src: url('assets/fonts/opensans-semibold-webfont.eot');
    src: url('assets/fonts/opensans-semibold-webfont.eot?#iefix') format('embedded-opentype'),
        url('assets/fonts/opensans-semibold-webfont.woff2') format('woff2'),
        url('assets/fonts/opensans-semibold-webfont.woff') format('woff'),
        url('assets/fonts/opensans-semibold-webfont.ttf') format('truetype'),
        url('assets/fonts/opensans-semibold-webfont.svg#open_sanssemibold') format('svg');
}